%footer.footer
  .container
    .row
      .col-lg-5.col-md-5.col-sm-5
        .info
          %a.logo{href: root_path}
            = image_tag "logo_val.png", alt: "ValeriaImport"


      / .contacts.col-lg-3.col-md-3.col-sm-3
      /   = image_tag "map.png", "class" => "img-responsive"

      / .contacts.col-lg-3.col-md-3.col-sm-3
      /   %h2
      /     Dirección
      /   %p.p-style3
      /     Jr. Puno 626, 628, 630, 632
      /     %br
      /     Cercado de Lima - Perú
      /     %br
      /     %a{ href: "mailto:mail@bushido.com"}
      /       mail@bushido.com
      /     %br
      /     +48 543765234
      /     %br
      /     +48 555 234 54 34
      /     %br

    .copyright
      .row
        .col-lg-7.col-md-7.col-sm-7
          %p
            &copy; 2014 Importadora Valeria S.A. -- Valeria Import -- Todos los derechos reservados.
        .col-lg-5.col-md-5.col-sm-5
          / .payment
          /   %img{ src: "assets/payment/visa.png",     alt: "Visa" }
          /   %img{ src: "assets/payment/paypal.png",   alt: "PayPal" }
          /   %img{ src: "assets/payment/master.png",   alt: "Master Card" }
          /   %img{ src: "assets/payment/discover.png", alt: "Discover" }
          /   %img{ src: "assets/payment/amazon.png",   alt: "Amazon" }
